<?xml version="1.0"?>
<!--
/* 
 * @category  Event Manager Module
 * @package   ITwebexperts_Events

 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      N/A 
 */
 -->
<config>
    <modules>
        <ITwebexperts_Events>
            <version>1.0.3</version>
        </ITwebexperts_Events>
    </modules>
    <global>
        <models>
            <itwebexperts_events>
                <class>ITwebexperts_Events_Model</class>
                <resourceModel>events_resource</resourceModel>
            </itwebexperts_events>
            <events_resource>
                <class>ITwebexperts_Events_Model_Resource</class>
                <entities>
                    <events>
                        <table>itwebexperts_events</table>
                    </events>
                    <productevents>
                        <table>itwebexperts_productevents</table>
                    </productevents>
                </entities>
            </events_resource>
        </models>
        <helpers>
            <itwebexperts_events>
                <class>ITwebexperts_Events_Helper</class>
            </itwebexperts_events>
        </helpers>
        <blocks>
            <itwebexperts_events>
                <class>ITwebexperts_Events_Block</class>
            </itwebexperts_events>
        </blocks>
        <resources>
            <itwebexperts_events_setup>
                <setup>
                    <module>ITwebexperts_Events</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </itwebexperts_events_setup>
        </resources>
        <events>
            <before_events_item_display>
                <observers>
                    <itwebexperts_events>
                        <class>itwebexperts_events/observer</class>
                        <method>beforeEventsDisplayed</method>
                    </itwebexperts_events>
                </observers>
            </before_events_item_display>
            <after_getquantity>
                <observers>
                    <itwebexperts_events_after_getquantity>
                        <class>itwebexperts_events/observer</class>
                        <method>afterGetquantity</method>
                    </itwebexperts_events_after_getquantity>
                </observers>
            </after_getquantity>
            <calendar_newelements>
                <observers>
                    <itwebexperts_events1>
                        <class>itwebexperts_events/observer</class>
                        <method>calendarNewelements</method>
                    </itwebexperts_events1>
                </observers>
            </calendar_newelements>
            <calendar_styles>
                <observers>
                    <itwebexperts_events2>
                        <class>itwebexperts_events/observer</class>
                        <method>calendarStyles</method>
                    </itwebexperts_events2>
                </observers>
            </calendar_styles>
            <!--<calendar_js_global>
                <observers>
                    <itwebexperts_events4>
                        <class>itwebexperts_events/observer</class>
                        <method>calendarJsGlobal</method>
                    </itwebexperts_events4>
                </observers>
            </calendar_js_global>-->
            <calendar_ready>
                <observers>
                    <itwebexperts_events6>
                        <class>itwebexperts_events/observer</class>
                        <method>calendarReady</method>
                    </itwebexperts_events6>
                </observers>
            </calendar_ready>
            <!--<set_date_initials>
                <observers>
                    <itwebexperts_events7>
                        <class>itwebexperts_events/observer</class>
                        <method>setDateInitials</method>
                    </itwebexperts_events7>
                </observers>
            </set_date_initials>-->
            <options_gridnames>
                <observers>
                    <itwebexperts_events8>
                        <class>itwebexperts_events/observer</class>
                        <method>optionsGridNames</method>
                    </itwebexperts_events8>
                </observers>
            </options_gridnames>
            <options_grid>
                <observers>
                    <itwebexperts_events9>
                        <class>itwebexperts_events/observer</class>
                        <method>optionsGrid</method>
                    </itwebexperts_events9>
                </observers>
            </options_grid>
            <render_cart>
                <observers>
                    <itwebexperts_events10>
                        <class>itwebexperts_events/observer</class>
                        <method>renderCart</method>
                    </itwebexperts_events10>
                </observers>
            </render_cart>
            <prepare_advanced_before>
                <observers>
                    <itwebexperts_events11>
                        <class>itwebexperts_events/observer</class>
                        <method>prepareAdvancedBefore</method>
                    </itwebexperts_events11>
                </observers>
            </prepare_advanced_before>
            <sales_order_save_before>
                <observers>
                    <itwebexperts_events12>
                        <class>itwebexperts_events/observer</class>
                        <method>saveOrderBeforeInside</method>
                    </itwebexperts_events12>
                </observers>
            </sales_order_save_before>
            <init_globals_prepare_advanced>
                <observers>
                    <itwebexperts_events13>
                        <class>itwebexperts_events/observer</class>
                        <method>initGlobalsPrepareAdvanced</method>
                    </itwebexperts_events13>
                </observers>
            </init_globals_prepare_advanced>
            <before_product_listing>
                <observers>
                    <itwebexperts_events14>
                        <class>itwebexperts_events/observer</class>
                        <method>beforeProductListing</method>
                    </itwebexperts_events14>
                </observers>
            </before_product_listing>
            <show_dates_is_single>
                <observers>
                    <itwebexperts_events15>
                        <class>itwebexperts_events/observer</class>
                        <method>showDatesIsSingle</method>
                    </itwebexperts_events15>
                </observers>
            </show_dates_is_single>
        </events>
    </global>
    <frontend>
        <routers>
            <itwebexperts_events_front>
                <use>standard</use>
                <args>
                    <module>ITwebexperts_Events</module>
                    <frontName>events</frontName>
                </args>
            </itwebexperts_events_front>
        </routers>
        <layout>
            <updates>
                <itwebexperts_events>
                    <file>itwebexperts_events.xml</file>
                </itwebexperts_events>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
                <itwebexperts_events>
                    <use>admin</use>
                    <args>
                        <module>ITwebexperts_Events</module>
                        <frontName>events_admin</frontName>
                    </args>
                </itwebexperts_events>
            <adminhtml>
                <args>
                    <modules>
                        <ITwebexperts_Events before="Mage_Adminhtml">ITwebexperts_Events_Adminhtml</ITwebexperts_Events>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <events_append_custom_product_columns>
                        <type>singleton</type>
                        <class>itwebexperts_events/observer</class>
                        <method>appendCustomColumns</method>
                    </events_append_custom_product_columns>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <itweb_observer_events>
                        <type>singleton</type>
                        <class>itwebexperts_events/observer</class>
                        <method>showEvents</method>
                    </itweb_observer_events>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
        </events>
        <layout>
            <updates>
                <itwebexperts_events>
                    <file>itwebexperts_events.xml</file>
                </itwebexperts_events>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <events>
            <view>
                <enabled>1</enabled>
                <items_per_page>10</items_per_page>
                <days_difference>3</days_difference>
            </view>
            <global_calendar>
                <hour_to_pass_day>17:00</hour_to_pass_day>
                <use_events>0</use_events>
                <use_event_dates>0</use_event_dates>
            </global_calendar>
        </events>
    </default>
</config>
